/* ---- Theme Colors Variables ---- */

$black: #000000;
$gainsboro: #E4E4E4;
$gold: #FED501;
$darkgold: #ecc600;
$darkyellow: #fdd500;
$white: #FFFFFF;
$darkgray: #7a7a7b;
$lightblack: #45474b;
$red: #ff4949;

$primary: $gold;
$secondary: $black;

/* ---- Theme Fonts Variables ---- */
